<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>Libraries</h1>
    </header>
    <div class="content">
      <div id="template" hidden>
        <div class="heading"><p id="name"></p></div>
        <hr>
        <p id="address"><strong>Address : </strong></p>
        <p id="phone">Phone : </p>
        <center>
          <p id="delete"></p>
          <p id="edit"></p>
        </center>
      </div>
    </div>
    <center><button id="create_library" class="button add">Add Library</button></center>
    <div class="add_form modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="cross">&times;</span>
          <center><h2>Add Library</h2></center>
        </div>
        <form method="POST" id="add_data">
          <label for="library[name]">Name</label>
          <input type="text" name="library[name]" placeholder="Name">
          <label for="library[address]">Address</label>
          <input type="text" name="library[address]" placeholder="Address">
          <label for="library[phone]">Phone</label>
          <input type="text" name="library[phone]" placeholder="Phone">
          <input type="submit" name="submit">
        </form>
      </div>
    </div>
    <div class="edit_form modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="cross">&times;</span>
          <center><h2>Edit Library</h2></center>
        </div>
        <form method="POST" id="edit_data">
          <input type="hidden" name="library[id]" id="id">
          <label for="library[name]">Name</label>
          <input type="text" name="library[name]" id="name">
          <label for="library[address]">Address</label>
          <input type="text" name="library[address]" id="address" >
          <label for="library[phone]">Phone</label>
          <input type="text" name="library[phone]" id="phone" >
          <input type="submit" name="submit">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
