/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body
 {
 	background-color: white;
 	font-family: "Lucida Console", Monaco, monospace;
 }
 .container
 {
 	width: 90%;
 	margin-left: 6%;
 }

 .header
 {
 	text-align: center;
 }

 #template
 {
 	margin: 5px;
 	border: 1px solid #ccc;
 	padding: 10px;
 	float: left;
 	width: 30%;
 	height: 30em;
 	border: 1px solid #777;
 	.heading
 	{
 		text-align: center;
 		height: 2.5em;
 	}
 }

 .button 
 {
 	padding: 10px 20px;
 	font-size: 13px;
 	margin: 2% 15%;
 	-webkit-transition-duration: 0.4s;
 	transition-duration: 0.4s;
 	cursor: pointer;
 	float: left;
 }

 .edit 
 {
 	background-color: white; 
 	color: black; 
 	border: 2px solid #4CAF50;
 	border-radius: 10px;
 }

 .edit:hover 
 {
 	background-color: #4CAF50;
 	color: white;
 }

 .delete 
 {
 	background-color: white; 
 	color: black; 
 	border: 2px solid #f44336;
 	border-radius: 10px;
 }

 .delete:hover 
 {
 	background-color: #f44336;
 	color: white;
 }

 .add 
 {
 	background-color: white; 
 	color: black; 
 	font-size: 16px;
 	float: none;
 	border: 2px solid blue;
 	border-radius: 10px;
 }

 .add:hover 
 {
 	background-color: blue;
 	color: white;
 }

 .modal 
 {
 	display: none; 
 	position: fixed;
 	z-index: 1;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	overflow: auto;
 	background-color: rgb(0,0,0);
 	background-color: rgba(0,0,0,0.4);
 }

 .modal-content 
 {
 	background-color: #fefefe;
 	margin: 5% auto;
 	padding: 20px;
 	border: 1px solid #888;
 	width: 50%;
 }



 #cross
 {
 	color: #aaa;
 	float: right;
 	font-size: 28px;
 	font-weight: bold;
 }

 #cross:hover,#cross:focus 
 {
 	color: red;
 	text-decoration: none;
 	cursor: pointer;
 }

 input[type=text],input[type=number], select 
 {
 	width: 100%;
 	padding: 12px 20px;
 	margin: 8px 0;
 	display: inline-block;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	box-sizing: border-box;
 	font-size: 16px;
 }

 input[type=submit] 
 {
 	width: 100%;
 	background-color: #4CAF50;
 	color: white;
 	padding: 14px 20px;
 	margin: 8px 0;
 	border: none;
 	border-radius: 4px;
 	font-size: 16px;
 	cursor: pointer;
 }

 input[type=submit]:hover 
 {
 	background-color: #45a049;
 }